@import "tailwindcss";

@font-face {
  font-family: 'Ephesis';
  src: url('/fonts/Ephesis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Lora', 'sans-serif';
}

section {
  @apply flex flex-col items-center;
}

p {
  @apply text-center;
}

.text-container {
  @apply flex flex-row items-center gap-2;
}

.font-fancy {
  font-family: 'Ephesis', sans-serif;
}