---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Claudia y César | Nuestra Boda</title>
	</head>
	<body class="bg-[#fff6ed] text-xl">
		<main class="sm:hidden">
			<audio src="/Wedding-Entrance.mp3" autoplay loop/>
			<slot />
		</main>
		<footer>
			<h1 class="text-8xl font-fancy text-[#ae0055] hidden sm:block">Claudia y César</h1>
			<p class="text-2xl m-24 hidden sm:block">
				Abrir la invitación desde el celular para ver el contenido completo.
			</p>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
